<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" thread-count="1">
    <listeners>
        <listener class-name="Utils.RetryListener" />
        <listener class-name="Utils.TestngListenerScreenShot" />
    </listeners>
    <test verbose="2" preserve-order="true" name="D:\seleniumDome\YWKFPT">
        <parameter name="userName" value="aa"/>
        <parameter name="passWord" value="Aa12345678"/>
        <classes>
            <class name="testCase.LoginCase"></class>
            <class name="testCase.CreateUserCase"></class>
        </classes>
    </test>
</suite>